.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Message-sender-container {
  background-color: aliceblue;
}

.ballon-primary {
  padding: 20px;
  background-color: cadetblue;
  text-align: right;
  min-width: 120px;
}

.ballon-secondary {
  padding: 20px;
  background-color: aliceblue;
  text-align: left;
  min-width: 120px;
}

.chat-input {
  width: 90%;
  height: 120px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
